{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <fieldset>
        <legend>Вход для постоянных покупателей</legend>
        <form action="{{ path('login_customer') }}" method="post">
            Email:
            <input name="_username" value="" type="text"><br>
            Пароль:
            <input name="_password" type="password"><br>
            <button type="submit">Войти</button>
            <a href="">Регистрация</a>
        </form>
    </fieldset>
{% endblock %}