{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <fieldset>
        <legend>Регистрация</legend>
        <form action="{{ path('new_customer') }}" method="post">
            {{ form_widget(form) }}
            <button type="submit">Зарегистрировать</button>
        </form>
    </fieldset>
{% endblock %}