<form action="{{ path('login') }}" method="post">

    Login:
    <input name="_username" value="" type="text">

    Password:
    <input name="_password" type="password">

    <button type="submit">LOGIN</button>

</form>