<form action="{{ path('login') }}" method="post" class="mt">

    <label for="" class="text-uppercase text-sm">Your Username</label>
    <input id="username" name="_username" value="{{ last_username }}" type="text" placeholder="Username" class="form-control mb">

    <label for="" class="text-uppercase text-sm">Password</label>
    <input id="password" name="_password" type="password" placeholder="Password" class="form-control mb">

    <button class="btn btn-primary btn-block" type="submit">LOGIN</button>

</form>