{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<<<<<<< HEAD
<form method="post" action="{{ path('my_shop_admin.product_add') }}" enctype="multipart/form-data">
=======
<form method="post" enctype="multipart/form-data" action="{{ path('my_shop_admin.product_add') }}">
>>>>>>> dev
{{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}